h1
{
    color: rgb(255, 0, 0);
    text-align: center;
    font-family: 'helvetica';
    font-size: 3rem;
}

p
{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'helvetica';
    font-size: 1.2rem;
}

.column img
{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    filter: drop-shadow(5px 10px 0px transparent);
    transition: opacity 0.6s ease, transform 0.6s ease, filter 0.6s ease;
    display: block;
}

.movie-title
{
    text-align: center;
    width: 100%;
    white-space: normal;
    font-family: 'helvetica';
    font-weight: bold;
    transition: transform 0.3s ease;
    font-size: 1.2rem;

}

.rating
{
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-family: 'helvetica';
    font-weight: bold;
    background-color: #deb522;
    padding: 5px 5px;
    border-radius: 5px;
    transition: transform 0.3s ease;
    z-index: 2;
}

.yellow-text
{
    color: #deb522;
}

.flix
{
    color:#db0000;
}
.movies-text
{
    display: block;
    font-weight: bold;
    padding: 10px 90px 0px;
    color: white;
    font-size: 3.5rem;
    text-align: left;
}

.shows-text
{
    display: block;
    font-weight: bold;
    padding: 10px 50px 0px;
    color: white;
    font-size: 3.5rem;
    text-align: left;
}

.site-title
{
    font-size: 25px !important;
    font-weight: bold;
}

.scroll-section
{
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
}

#movies-container
{
    flex: 1;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.scroll-btn
{
    position: absolute;
    margin-left: 0px;  /* some space from the row */
    transform: translateY(-14.2%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 25px;
    padding: 136px 22px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 5;
    height: auto;  /* Let it size naturally */
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0%;
    transition: background-color 0.3s ease;
}

.scroll-btn-left
{
    position: absolute;
    margin-left: 0px;  /* some space from the row */
    transform: translateY(-14.2%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: none;
    cursor: pointer;
    padding: 136px 16px;
    font-size: 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 5;
    height: auto;  /* Let it size naturally */
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0%;
    transition: background-color 0.3s ease;
}

.scroll-btn:hover
{
    background-color: rgba(0, 0, 0, 0.9);
    transition: background-color 0.3s ease;
}
.scroll-btn-left:hover
{
    background-color: rgba(0, 0, 0, 0.9);
    transition: background-color 0.3s ease;
}