.container
{
    text-align: center;
    margin-top: 20px;
}

.row
{
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
    display: flex;
    width: 100%;
    overflow-x: auto;
    padding: 0px 50px;
    gap: 5px;
}

.column
{
    flex-shrink: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 25px;
}

.image-container
{
    position: relative;
    width: 100%;
}